* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source code pro", sans-serif;
  }
  
  h1 {
    color: #86c232;
    font-weight: lighter;
    font-size: 50px;
    text-align: center;
  }
  
  h4 {
    color: #86c232;
    font-size: 20px;
  }
  
  .btn {
    background-color: #222625;
    color: #86c232;
    border-radius: 15px;
    font-family: "Source code pro", monospace;
    opacity: 0.8;
    width: 150px;
    height: 50px;
  }
  
  .btn:hover {
    background-color: #61892f;
    color: #474b4f;
  }
  
  /* CHILD 1 */
  .body-child1 {
    height: 100vh;
    width: 100%;
    background-image: url(../img/barnhaus/BarnHaus-LowRez_1001.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .child1-title {
    font-weight: 600;
    font-family: "Lobster", cursive;
  }
  .child1-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    padding: 10px;
    text-align: justify;
    font-family: "Source code pro", monospace;
    background-color: rgba(34, 38, 37, 0.8);
    opacity: 0.8;
    border-radius: 10px;
    font-weight: 200;
  }
  
  .child1-location {
    text-align: center;
    font-family: "Source code pro", monospace;
    color: #61892f;
    letter-spacing: 0.5rem;
  }
  
  #child1-button {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    margin-top: 40px;
  }
  
  .intro {
    background-image: url("../img/barnhaus/intro.jpg");
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .intro h1 {
    color: #61892f;
    text-align: start;
  }
  
  .slider {
    background: gray;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
  }
  .intro-text {
    color: aquamarine;
    font-family: "Source code pro";
    font-size: 3rem;
  }
  
  .hide {
    background: #222625;
    opacity: 0.8;
    overflow: hidden;
  }
  
  .hide span {
    transform: translateY(100%);
    display: inline-block;
  }
  /* CHILD 2 */
  
  .body-child2 {
    display: flex;
    flex-wrap: wrap;
    background-color: #6b7064;
    /* padding: 15px 15px; */
  }
  
  #child2-property {
    text-align: center;
    color: #86c232;
  }
  
  #child2-welcome {
    color: #222625;
  }
  
  .description {
    flex: 1;
    text-align: justify;
    padding: 15px 35px 0 35px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    margin: 20px;
  }

  
  .details {
    flex: 1;
    padding: 15px 35px 0 35px;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    margin: 20px;
  }
  /* .details li{
    color:#61892f;
  } */

  .details li i{
    color:#61892f;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  .utilities hr {
    border-top: dotted #474b4f;
  }
  
  /* CHILD 3  */
  .body-child3 {
    background-color: #6b7064;
  }
  .extra {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
  }
  
  .every-plus {
    flex: 1 0 21%;
    /* justify-content: space-evenly; */
    /* align-items: center; */
    /* text-align: center; */
    height: 150px;
    width: 150px;
    margin: 20px 25px 20px;
  }
  
  .icons {
    height: 80%;
    width: 100%;
  }
  .icons img {
    height: 100%;
    width: 100%;
    padding: 20px 25px 20px;
    justify-content: center;
  }
  
  .text-plus {
    font-size: 20px;
    font-family: "Source code pro", monospace;
    text-align: center;
    color: #222625;
  }
  
  /* CHILD 4 */
  
  .body-child4 {
    background-color: #6b7064;
  }
  .clr {
    clear: both;
  }
  .gallery-wrap {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .gallery-wrap h1 {
    letter-spacing: 4px;
    color: #fff;
    text-transform: uppercase;
  }
  label {
    width: 15%;
    display: inline-block;
    background: #61892f;
    color: #222625;
    letter-spacing: 2px;
    padding: 10px 0;
    margin: 0 8px;
    margin-bottom: 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 100px;
  }
  
  label:hover {
    background: rgba(97, 137, 47, 0.6);
  }
  
  input[type="radio"] {
    display: none;
  }
  input[type="radio"]:checked + label {
    background: #222625;
    color: #86c232;
  }
  input[type="radio"][id="exterior"]:checked ~ .bedrooms,
  input[type="radio"][id="exterior"]:checked ~ .interior {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    transition: 0.5s;
  }
  input[type="radio"][id="interior"]:checked ~ .exterior,
  input[type="radio"][id="interior"]:checked ~ .bedrooms {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    transition: 0.5s;
  }
  input[type="radio"][id="bedrooms"]:checked ~ .exterior,
  input[type="radio"][id="bedrooms"]:checked ~ .interior {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    transition: 0.5s;
  }
  .gallery-image {
    width: 24.6%;
    height: 300px;
    float: left;
    margin: 0.2%;
    position: relative;
    overflow: hidden;
    transition: 0.8s;
    cursor: pointer;
  }
  .gallery-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
  }
  .gallery-image:hover img {
    transform: scale(1.1);
    transition: 0.5s;
  }
  .lb-overlay {
    width: 0px;
    height: 0px;
    position: fixed;
    overflow: hidden;
    left: 0px;
    top: 0px;
    padding: 0px;
    z-index: 99;
    text-align: center;
    background: rgba(000, 000, 000, 0.9);
    margin-top: 5vh;
  }
  .lb-overlay > div {
    position: relative;
    color: rgba(27, 54, 81, 0.8);
    width: 550px;
    height: 80px;
    margin: 40px auto 0px auto;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
  }
  .lb-overlay a.lb-close {
    background: rgba(34, 38, 37, 0.9);
    z-index: 1001;
    color: #86c232;
    position: absolute;
    top: 30px;
    right: 5%;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    width: 30px;
    height: 30px;
    overflow: hidden;
    margin-left: -25px;
    opacity: 0;
    filter: alpha(opacity=0); /* internet explorer */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    font-weight: 600;
    margin-top: 5vh;
  }
  .lb-overlay img {
    /* height: 100%; For Opera max-height does not seem to work */
    max-height: 100%;
    position: relative;
    opacity: 0;
    filter: alpha(opacity=0); /* internet explorer */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
    -webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
    -ms-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;
  }
  
  .lb-prev i,
  .lb-next i {
    color: #86c232;
  }
  .lb-prev,
  .lb-next {
    /* text-indent: -9000px; */
    position: absolute;
    top: -400px;
    /* width: 50px; */
    /* height: 50px; */
    left: 50%;
    opacity: 0.7;
    filter: alpha(opacity=80); /* internet explorer */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=80)";
  }
  .lb-prev:hover,
  .lb-next:hover {
    opacity: 1;
    filter: alpha(opacity=99); /* internet explorer */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)";
  }
  .lb-prev {
    margin-left: -600px;
    /* background: transparent url(../img/on-top-chalet/arrows.png) no-repeat top left; */
  }
  .lb-next {
    margin-left: 600px;
    /* background: transparent url(../img/on-top-chalet/arrows.png) no-repeat top right; */
  }
  .lb-overlay:target {
    width: auto;
    height: auto;
    bottom: 0px;
    right: 0px;
    padding: 40px 40px 40px 40px;
  }
  
  .lb-overlay img {
    height: 80%;
    margin-top: 5vh;
  }
  .lb-overlay:target img,
  .lb-overlay:target a.lb-close {
    opacity: 1;
    filter: alpha(opacity=99);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)";
  }
  x:-o-prefocus,
  .lb-overlay img {
    height: 100%;
  }
  
  .gallery-wrap hr {
    margin: 0;
  }
  
  .body-child5 {
    background-color: #6b7064;
  }
  
  .reservation form {
    /* border: 2px solid #222625;  */
    padding: 2rem;
    /* height: 80%; */
  }
  
  .reservation form .flex {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  
  .reservation form h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: center;
    text-transform: capitalize;
  }
  
  .reservation form .flex .box {
    flex: 1;
  }
  
  .reservation form .flex .box p {
    font-size: 1rem;
    /* color: var(--sub-color); */
    color: #222625;
  }
  
  .reservation form .flex .box .input {
    /* padding: 1rem 0; */
    /* margin: 0.5rem 0; */
    border: none;
    background: #6b7064;
    border-bottom: 2px solid #222625;
    color: #222625;
    font-size: 1rem;
    width: 200px;
  }
  
  .reservation
    form
    .flex
    .box
    input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
  
  .reservation .btn {
    margin-left: 44%;
    margin-top: 50px;
  }
  
  h3{
    color: #86c232;
  }